{% extends 'base.html' %}
<!-- {% load static %} -->

{% block content %}

    {% if profile %}

    <div class="container text-center">
        <div class="row">
            <div class="col-8">
                <h1>{{profile.user.username}}'s Profile </h1>

                {% for meep in meeps %}
                    <div class="alert alert-dark" role="alert">

                        <div class="container">
                            <div class="row">
                                <div class="col-1">
                                    {% if profile.profile_image %}
                                        <img src="{{ profile.profile_image.url }}" class="rounded-circle" alt="Profile Image" width="50" height="50" >
                                    {% else %}
                                        <img src="{% static 'images/default_profile_pic.jpg' %}" class="img-fluid rounded-start" alt="Profile Image" width="150" height="150">
                                    {% endif %}


                                   
                                </div>

                                <div class="col-8">
                                    <strong>{{ meep.body }}</strong>
                                    <small class="text-muted">
                                        {{ meep.created_at }} By 
                                        {{ meep.user }} - 
                                        {{ meep.number_of_likes }} 
                                        {% if user in meep.like.all %}
                                            <a href="{% url 'like_meep' meep.id %}"><img src="{% static 'images/heart-unlike.png' %}" alt="" width="15" height="15"></a>
                                        {% else %}
                                        <a href="{% url 'like_meep' meep.id %}"><img src="{% static 'images/heart-like.png' %}" alt="" width="15" height="15"></a>
                                        {% endif %}

                                        &nbsp;&nbsp;
                                                <a href="{% url 'meep_show' meep.id %}"> <img src="{% static 'images/share-square.png' %}" alt="" width="15" height="15"> </a>
            
                                    </small>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                <br><br>
                {% endfor %}
            
                <br><br>
            </div>

            
            <div class="col-4">

                {% if profile.profile_image %}
                    <!-- {{ profile.profile_image.url }} -->

                    <img src="{{ profile.profile_image.url }}" alt="" width="200" height="150" class="rounded-circle">
                    <br><br>
                {% endif %}

                {% if profile.homepage_link %}
                    <a href="{{ profile.homepage_link }}" target="_blank"><img src="{% static 'images/link.png' %}" alt=""  width="20" height="20"></a>
                {% endif %}
                &nbsp;
                {% if profile.facebook_link %}
                    <a href="{{ profile.facebook_link }}" target="_blank"><img src="{% static 'images/facebook.png' %}" alt=""  width="20" height="20"></a>
                {% endif %}
                &nbsp;

                {% if profile.instagram_link %}
                    <a href="{{ profile.instagram_link }}" target="_blank"><img src="{% static 'images/instagram.png' %}" alt=""  width="20" height="20"></a>
                    
                {% endif %}
                &nbsp;

                {% if profile.linkedin_link %}
                    <a href="{{ profile.linkedin_link }}" target="_blank"><img src="{% static 'images/linkedin.png' %}" alt="" width="20" height="20"></a>
                {% endif %}
                <br><br>

                    {% if profile.profile_bio %}
                        <p align="justify" >{{profile.profile_bio }}</p>
                    {% endif %}
                    <br><br>


                <div class="card">
                    <h5 class="card-header">Following</h5>
                    <div class="card-body">
                      <!-- <h5 class="card-title">Special title treatment</h5> -->
                      <p class="card-text">
                        {% for following in profile.follows.all|slice:3 %}
                        
                        <a href="{% url 'profile' following.user.id %}">@{{following}}</a> 
                        <a href="{% url 'unfollow'  following.user.id %}">
                            <img src="{% static 'images/user-minus.png' %}" alt="" width="15">
                        </a>
                        
                        <br>
                        {% endfor %}</p>

                    </div>
                    <div class="card-footer">
                        <a href="{% url 'follows' profile.user.id %}" class="btn btn-sm btn-outline-secondary">See more...</a>

                    </div>
                    
                </div>

                <br>

                <div class="card">
                    <h5 class="card-header">Followed By </h5>
                    <div class="card-body">
                      <p class="card-text">
                        {% for following in profile.followed_by.all|slice:3 %}


                        <a href="{% url 'profile' following.user.id %}">@{{following}}</a>
                        &nbsp;
                        {% if following not in profile.follows.all %}
                        <a href="{% url 'follow'  following.user.id %}">
                            <img src="{% static 'images/user-plus.png' %}" alt="" width="15">
                        </a>
                            
                        {% endif %}

                        <br>
                        {% endfor %}
                     </p>

                    </div>
                    <div class="card-footer">
                        <a href="{% url 'followers' profile.user.id %}" class="btn btn-sm btn-outline-secondary">See more...</a>

                    </div>
                    
                </div>
                <br>
                <br>

                <form method="POST">
                    {% csrf_token %}
                    
                    {% if profile in user.profile.follows.all %}
                        <button class="btn btn-outline-danger" type="submit" name="follow" value="unfollow">UnFollow @{{profile.user.username | lower}}</button>
                    {% else %}
                        <button class="btn btn-outline-success" type="submit" name="follow" value="follow">Follow @{{profile.user.username | lower}}</button>
                    {% endif %}

                </form>
                <br>

                {% if request.user.id == profile.user.id %}
                    <a href="{% url 'update_user' %}" class="btn btn-outline-secondary">Update Profile</a>
                {% endif %}

            </div>

        </div>

        
    </div>

    
    

    


    {% endif %}
{% endblock %}